.zoom {
    zoom: 75%;
}

            body {
                background-image: url("pozadina.jpg");
                background-color: white;
                background-repeat: repeat;
                background-size: 100%;
            }
            
            #okvir {
                margin: 0px;
                color: white;
            }
            
            h1 {
                display: inline;
                margin: 0px;
                height: 95px;
                color: white;
                font-size: 45px;
                margin-bottom: 0px;
                font-weight: 600;
                text-align: center;
                font-family: "Times New Roman", Times, serif;
            }
            
            .meni a {
                color: #f2f2f2;
                text-align: center;
                padding: 76px;
                text-decoration: none;
                font-size: 23px;
                font-family: "Times New Roman", Times, serif;
            }
            
            .meni {
                background-color: blue;
                overflow: hidden;
                height: 35px;
            }
            
            .meni a:hover {
                background-color: #ddd;
                color: black;
                text-decoration: none;
            }
            
            .meni a.active {
                background-color: white;
                color: blue;
            }
            
            #glavni {
                margin-left: 150px;
                color: white;
                float: left;
            }
            
            #desno {
                color: white;
                margin-right: 30px;
                /*margin-left: 20px;-iskljuceno zbog trazenog:"Tabele se nalaze jedna do druge" */
                float: left;
            }
            
            footer {
                margin-bottom: 2%;
                margin-left: 450px;
                font-size: 20px;
                font-family: "Times New Roman", Times, serif;
                font-style: italic;
                color: white;
                clear: both;
            }
            
            .ee {
                font-family: Arial, Helvetica, sans-serif;
                border: 2px dashed rgb(126, 110, 110);
                border-collapse: collapse;
            }
            
            table,
            th,
            td {
                font-family: Arial, Helvetica, sans-serif;
                border: 2px solid rgb(126, 110, 110);
                border-collapse: collapse;
            }
            
            th,
            td {
                padding: 5px;
            }
            
            .poseban {
                text-align: center;
            }
            
            th {
                text-align: left;
                background-color: rgb(212, 203, 203);
                color: black;
            }
            
            .t {
                background-color: cyan;
                color: blue;
                text-align: center;
            }
            #jp{
                display: inline;
                font-size: 17px;  
                color: rgb(0, 0, 0);
                padding: 14px 16px;
                background-color: inherit;
                font-family: Arial, Helvetica, sans-serif
            }
            p {
                display: none;
            }
            .v {
                background-color: lawngreen;
                color: green;
                text-align: center;
            }
            
            .p {
                background-color: rgb(245, 204, 94);
                color: orangered;
                text-align: center;
            }
            
            .k {
                background-color: rgb(180, 174, 174);
                color: black;
                text-align: center;
            }
            
            .t,
            .v,
            .p,
            .k {
                font-size: 11px;
            }

            * {box-sizing: border-box;}
            .topnav {
              overflow: hidden;
              background-color: #e9e9e9;
            }
            .topnav .search-container {
              float: right;
            }
            
            .topnav input[type=text] {
              padding: 6px;
              margin-top: 8px;
              font-size: 17px;
              border: none;
            }
            
            .topnav .search-container button {
              float: right;
              padding: 6px;
              margin-top: 8px;
              margin-right: 16px;
              background: #ddd;
              font-size: 17px;
              border: none;
              cursor: pointer;
            }
            
            .topnav .search-container button:hover {
              background: #ccc;
            }
              .topnav input[type=text] {
                border: 1px solid #ccc;  
              }
            .dropdown {
            float: right;
            overflow: hidden;
            margin-right: 15px;
            }

            .dropdown .dropbtn {
            font-size: 17px;  
            border: none;
            outline: none;
            color: rgb(0, 0, 0);
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif
            }
            .dropdown:hover .dropbtn {
            background-color: rgb(255, 255, 255);
            }
              