body {
    background-image: url("pozadina.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    display: inline;
    margin: 0px;
    height: 95px;
    color: white;
    font-size: 45px;
    margin-bottom: 0px;
    font-weight: 600;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.container {
    width: 500px;
}

.meni a {
    color: #f2f2f2;
    text-align: center;
    padding: 76px;
    text-decoration: none;
    font-size: 23px;
    font-family: "Times New Roman", Times, serif;
}

.meni a.active {
    background-color: white;
    color: blue;
}

.meni {
    background-color: blue;
    overflow: hidden;
    height: 35px;
}

.meni a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none;
}

#cc {
    margin-left: 63px;
}

.dd {
    margin-left: 45px;
}

.topnav a.active {
    background-color: white;
    color: blue;
}

#glavni {
    font-size: 20px;
    max-width: 500px;
    margin: auto;
    color: white;
}

footer {
    bottom: 3%;
    margin-top: 20px;
    padding-bottom: 50px;
    margin-left: 450px;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: white;
}