body {
    background-image: url("pozadina.jpg");
    background-color: white;
    background-repeat: repeat;
    background-size: 100%;
}

h1 {
    display: inline;
    margin: 0px;
    height: 95px;
    color: white;
    font-size: 45px;
    margin-bottom: 0px;
    font-weight: 600;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.meni a {
    color: #f2f2f2;
    text-align: center;
    padding: 76px;
    text-decoration: none;
    font-size: 23px;
    font-family: "Times New Roman", Times, serif;
}

.meni {
    background-color: blue;
    overflow: hidden;
    height: 35px;
}

.meni a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none;
}

.meni a.active {
    background-color: white;
    color: blue;
}

.grid {
    background-color: rgb(175, 17, 17);
    color: black;
    margin-left: 400px;
    margin-right: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.prof {
    text-align: center;
    display: grid;
    color: white;
    border: 1px solid black;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 40px 40px 40px 40px;
}

.prot {
    border: 1px solid black;
}

.gridva {
    background-color: rgb(35, 38, 207);
    display: grid;
    margin-left: 400px;
    margin-right: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.asis {
    text-align: center;
    display: grid;
    color: white;
    border: 1px solid black;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 40px 40px 40px;
}

.cc {
    text-decoration: none;
    color: yellow;
}

footer {
    margin-top: 50px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 450px;
    font-size: 20px;
    font-style: italic;
    color: white;
    font-family: "Times New Roman", Times, serif;
}