body {
    background-image: url("pozadina.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    display: inline;
    margin: 0px;
    height: 95px;
    color: white;
    font-size: 45px;
    margin-bottom: 0px;
    font-weight: 600;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.meni a {
    color: #f2f2f2;
    text-align: center;
    padding: 76px;
    text-decoration: none;
    font-size: 23px;
    font-family: "Times New Roman", Times, serif;
}

.meni {
    background-color: blue;
    overflow: hidden;
    height: 35px;
}

.meni a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none;
}

.meni a.active {
    background-color: white;
    color: blue;
}

#lijevo {
    margin-left: 80px;
    margin-right: -100px;
    width: 33%;
    color: white;
    float: left;
    font-family: "Times New Roman", Times, serif;
}

#lijevo li::before {
    content: "ss ";
    color: transparent;
    float: left;
    padding-right: 10px;
    width: 20px;
    background-image: url('knjiga.png');
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

#desno {
    margin-left: 80px;
    width: 33%;
    color: white;
    float: right;
    font-family: "Times New Roman", Times, serif;
}

#desno li::before {
    content: "ss ";
    color: transparent;
    float: left;
    padding-right: 20px;
    width: 20px;
    background-image: url('pc2.png');
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

#desno li {
    padding-bottom: 10px;
}

#lijevo li {
    padding-bottom: 10px;
}

footer {
    position: absolute;
    bottom: 3%;
    margin-left: 450px;
    font-size: 20px;
    font-style: italic;
    color: white;
    font-family: "Times New Roman", Times, serif;
}