body {
    background-image: url("pozadina.jpg");
    background-color: white;
    background-repeat: repeat;
    background-size: 100%;
}

h1 {
    display: inline;
    margin: 0px;
    height: 95px;
    color: white;
    font-size: 45px;
    margin-bottom: 0px;
    font-weight: 600;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.meni a {
    color: #f2f2f2;
    text-align: center;
    padding: 76px;
    text-decoration: none;
    font-size: 23px;
    font-family: "Times New Roman", Times, serif;
}

.meni {
    background-color: blue;
    overflow: hidden;
    height: 35px;
}

.meni a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none;
}

.meni a.activ {
    background-color: white;
    color: blue;
}

.grid {
    color: white;
    background-color: rgb(170, 165, 165);
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    border: solid black;
}

.gridva {
    color: white;
    background-color: rgb(97, 95, 95);
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px;
    border-left: solid black;
    border-right: solid black;
}

.gritri {
    color: white;
    background-color: rgb(97, 95, 95);
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 50px;
    border: solid black;
}

.nasl {
    grid-column-start: 1;
    grid-column-end: 4;
    border-bottom: solid black;
    background-color: rgb(119, 117, 117);
    font-size: 35px;
}

.kraci {
    font-size: 20px;
    text-align: left;
    padding: 10px;
}

ul {}

.kracidva {
    font-size: 20px;
    text-align: justify;
    padding: 10px;
    border-right: solid black;
}

.dugi {
    font-size: 20px;
    text-align: left;
    padding: 10px;
    padding-top: 20px;
}

footer {
    margin-top: 50px;
    position: absolute;
    margin-bottom: 20px;
    margin-left: 450px;
    font-size: 20px;
    font-style: italic;
    color: white;
    padding-bottom: 20px;
    font-family: "Times New Roman", Times, serif;
}

.collapsible,.collapsible1, .collapsible2{
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: blue solid 1px;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
  }
  .collaps{
    background-color: #777;
    color: white;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: blue solid 1px;
    font-size: 20px;
  }
  
  .active, .collapsible:hover, .collapsible1:hover, .collapsible2:hover {
    background-color: rgb(150, 148, 148);
  }

  .content, .content1, .content2 {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

  .sort {
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 15%;
    border: none;
    margin-right: 0px;
    float: right;
    text-align: center;
    outline: blue solid 1px;
    font-size: 20px;
  }
  .sort1 {
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 15%;
    border: none;
    margin-right: -17px;
    float: right;
    text-align: center;
    outline: blue solid 1px;
    font-size: 20px;
  }