            body {
                background-image: url("pozadina.jpg");
                background-color: white;
                background-repeat: repeat;
                background-size: 100%;
            }
            
            #okvir {
                margin: 0px;
                color: white;
            }
            
            h1 {
                margin: 0px;
                font-size: 50px;
            }
            
            .meni a {
                color: #f2f2f2;
                text-align: center;
                padding: 76px;
                text-decoration: none;
                font-size: 23px;
            }
            
            .meni {
                background-color: blue;
                overflow: hidden;
            }
            
            .meni a:hover {
                background-color: #ddd;
                color: black;
            }
            
            .meni a.active {
                background-color: white;
                color: blue;
            }
            
            #glavni {
                margin-left: 100px;
                color: white;
                float: left;
            }
            
            #desno {
                color: white;
                margin-right: 80px;
                /*margin-left: 20px;-iskljuceno zbog trazenog:"Tabele se nalaze jedna do druge" */
                float: left;
            }
            
            footer {
                margin-bottom: 2%;
                margin-left: 450px;
                font-size: 20px;
                font-style: italic;
                color: white;
                clear: both;
            }
            
            .ee {
                font-family: Arial, Helvetica, sans-serif;
                border: 2px dashed rgb(126, 110, 110);
                border-collapse: collapse;
            }
            
            table,
            th,
            td {
                font-family: Arial, Helvetica, sans-serif;
                border: 2px solid rgb(126, 110, 110);
                border-collapse: collapse;
            }
            
            th,
            td {
                padding: 5px;
            }
            
            .poseban {
                text-align: center;
            }
            
            th {
                text-align: left;
                background-color: rgb(212, 203, 203);
                color: black;
            }
            
            .t {
                background-color: cyan;
                color: blue;
                text-align: center;
            }
            
            .v {
                background-color: lawngreen;
                color: green;
                text-align: center;
            }
            
            .p {
                background-color: rgb(245, 204, 94);
                color: orangered;
                text-align: center;
            }
            
            .k {
                background-color: rgb(180, 174, 174);
                color: black;
                text-align: center;
            }
            
            .t,
            .v,
            .p,
            .k {
                font-size: 11px;
            }