body {
    background-image: url("pozadina.jpg");
    background-color: white;
    background-repeat: repeat;
    background-size: 100%;
}

h1 {
    margin: 0px;
    font-size: 50px;
}

.meni a {
    color: #f2f2f2;
    text-align: center;
    padding: 76px;
    text-decoration: none;
    font-size: 23px;
}

.meni {
    background-color: blue;
    overflow: hidden;
}

.meni a:hover {
    background-color: #ddd;
    color: black;
}

.meni a.active {
    background-color: white;
    color: blue;
}

.grid {
    color: white;
    background-color: rgb(170, 165, 165);
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    border: solid black;
}

.gridva {
    color: white;
    background-color: rgb(97, 95, 95);
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px;
    border-left: solid black;
    border-right: solid black;
}

.gritri {
    color: white;
    background-color: rgb(97, 95, 95);
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 50px;
    border: solid black;
}

.nasl {
    grid-column-start: 1;
    grid-column-end: 4;
    border-bottom: solid black;
    background-color: rgb(119, 117, 117);
    font-size: 35px;
}

.kraci {
    font-size: 20px;
    text-align: left;
    padding: 10px;
}

ul {}

.kracidva {
    font-size: 20px;
    text-align: justify;
    padding: 10px;
    border-right: solid black;
}

.dugi {
    font-size: 20px;
    text-align: left;
    padding: 10px;
    padding-top: 20px;
}

footer {
    margin-top: 50px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 450px;
    font-size: 20px;
    font-style: italic;
    color: white;
}